/* glue: 0.9.4 hash: cd58707e33 */
.skill[data-skill-id="1"] .icon,
.skill[data-skill-id="2"] .icon,
.skill[data-skill-id="3"] .icon,
.skill[data-skill-id="5"] .icon,
.skill[data-skill-id="6"] .icon,
.skill[data-skill-id="7"] .icon,
.skill[data-skill-id="8"] .icon,
.skill[data-skill-id="9"] .icon,
.skill[data-skill-id="11"] .icon,
.skill[data-skill-id="12"] .icon,
.skill[data-skill-id="17"] .icon,
.skill[data-skill-id="20"] .icon,
.skill[data-skill-id="21"] .icon,
.skill[data-skill-id="24"] .icon,
.skill[data-skill-id="25"] .icon
{
  background-image: url('logo.png');
  background-repeat: no-repeat;
}


.skill[data-skill-id="1"] .icon {
  background-position: -120px 0;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="2"] .icon {
  background-position: -120px -120px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="3"] .icon {
  background-position: -60px 0;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="5"] .icon {
  background-position: -60px -60px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="6"] .icon {
  background-position: 0 0;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="7"] .icon {
  background-position: 0 -120px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="8"] .icon{
  background-position: 0 -180px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="9"] .icon {
  background-position: -180px -120px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="11"] .icon {
  background-position: -60px -180px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="12"] .icon {
  background-position: -120px -180px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="17"] .icon {
  background-position: -120px -60px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="20"] .icon  {
  background-position: 0 -60px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="21"] .icon {
  background-position: -180px 0;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="24"] .icon {
  background-position: -180px -60px;
  width: 60px;
  height: 60px;
}

.skill[data-skill-id="25"] .icon {
  background-position: -60px -120px;
  width: 60px;
  height: 60px;
}
